section {
    min-height: 15.5em;
    background-image: url("../images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 800px) {
    section {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        background-image: url("../images/hero-desktop.jpg");
        height: 100vh;
    }
}